@media (min-width: 320px) {
    .heading-line-height {
        line-height: 30px;
    }

}


@media (min-width: 1280px) {
    .heading-line-height {
        line-height: 40px;
    }
}

@media (min-width: 1536px) {
    .heading-line-height {
        line-height: 50px;
    }
}