@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #eef0f2;
}

/* Range Input */
input[type="range"] {
  accent-color: #E55527;
}