@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #EEF0F2; */
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  margin: 30px 0;

}

::-webkit-scrollbar-thumb {
  background: #eef0f2;
}

/* Range Input */
input[type="range"] {
  accent-color: #E55527;
}

